name: Check Rust

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

jobs:
  check:
    name: Check Rust
    runs-on: ubuntu-latest
    permissions: read-all

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - run: |
          sudo apt-get install -y protobuf-compiler

      - name: Run tests
        run: cargo test --verbose

      - name: Run Clippy (linting)
        run: cargo clippy -- -D warnings
